src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
			
	<spring:beans>
		<spring:bean class="com.mulesoft.training.Database" />
	</spring:beans>

	<db:derby-config name="Derby" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />

	<jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />

	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration" />

	<flow name="logFlights">
		<jms:inbound-endpoint queue="flights" doc:name="JMS" connector-ref="Active_MQ" />
		<logger message="#[message.payload]" level="INFO" doc:name="Logger" />
	</flow>

	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP" />
		<db:select config-ref="Derby" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="#['Content-Type']" value="#['application/json']" doc:name="Property"/>
		<jms:outbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="JMS" />
	</flow>

	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/order" doc:name="HTTP" />
		<set-payload value="#[&quot;Hello Maven&quot;]" doc:name="Set Payload" />
	</flow>

</mule>
